@using CleanArch.Domain.Models
@model CleanArch.Application.ViewModels.CourseViewModel;
@{
    ViewData["Title"] = "Index";
}

<h1>Courses</h1>

<div class="container body-content">
    <div class="row course-content">
        @foreach(var course in Model.Courses)
        {
            <div class="course-image-container">
                @*<div class="course-image" style="background-image: url(@course.ImageUrl)"></div>*@
                <img class="course-image" src="@course.ImageUrl" width="250" height="250"/>
            </div>

            <span>@course.Name</span>
        }
    </div>
</div>

